body {
  font-family: "Ubuntu", sans-serif;
}
h1 {
  font-family: "Architects Daughter", cursive;
  color: rgb(33, 45, 94, 0.8);
  margin-bottom: 0px;
  text-align: center;
}

h4 {
  font-family: "Architects Daughter", cursive;
  color: rgb(33, 45, 94, 0.8);
  margin-bottom: 0px;
  text-align: center;
}

.container {
  max-width: 30%;
  border: 1px solid #9d9a9b;
  border-radius: 10px;
  box-shadow: 5px 2px 2px 10px rgb(193, 194, 198, 0.2);
  background-image: url("https://images.pexels.com/photos/5691475/pexels-photo-5691475.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  margin-left: 450px;
  margin-top: 10px;
}
.todays-date {
  color: rgb(33, 45, 94, 0.8);
  font-family: "Ubuntu", sans-serif;
  font-size: large;
  text-align: center;
  margin-top: 5px;
}

.btn.btn-warning {
  opacity: 0.8;
}

.city-name {
  font-family: "Architects Daughter", cursive;
  font-size: 50px;
  color: #444e76;
  position: relative;
  left: 20px;
  bottom: 0px;
}

.temperature-type {
  font-family: "Architects Daughter", cursive;
  color: rgb(234, 171, 25);
  font-size: 30px;
  font-weight: bold;
  position: relative;
  left: 20px;
}

.weather-image {
  position: relative;
  left: 55px;
}
.weather-conditions {
  text-align: center;
  opacity: 0.7;
}

.conditions-opinion {
  font-family: "Architects Daughter", cursive;
  display: block;
  position: relative;
  left: 242px;
}

.upcoming-days {
  font-family: "Architects Daughter", cursive;
  display: block;
  position: relative;
  left: 114px;
  top: 0px;
}

p {
  font-family: "Ubuntu", sans-serif;
  font-size: small;
  text-align: center;
  opacity: 0.4;
}
